.hero {
  display: flex;
  .text {
    margin-bottom: 1.5rem;
    width: 60%;
    .title {
      margin-bottom: 0.25;
    }
    .subtitle {
      font-size: 0.85rem;
      font-style: italic;
      color: $subtitle-color;
    }
  }
  .action {
    width: 40%;
    position: absolute;
    right: 0;
  }
  hr {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border: 0.05rem solid $primary;
  }
}