// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");

// Font Family
$font-primary: 'Roboto', sans-serif;

// Font Weight
$font-black: 900;
$font-bold: 700;
$font-semi-bold: 500;
$font-normal: 400;
$font-light: 300;

// Font Size
$h1-headline: 32px;
$h2-headline: 26px;
$h3-headline: 24px;
$h4-headline: 18px;
$h5-headline: 16px;

// Subtitle Color
$subtitle-color: #777777;

// Set your colors
$primary: #FF725F;
$primary-invert: findColorInvert($primary);
$secundary: #F231A5;
$secundary-invert: findColorInvert($secundary);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "secundary": ($secundary, $secundary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

html {
  background-color: #0A0D27;
}